<% provide(:title, @user.email) %>
<h1>
  <%= gravatar_for @user %>
  <%= @user.email %>
</h1>
<div class="alert alert-info">
  Congratulations <%= @user.email %>. Your ThoughtWorks Go server is ready to use.
</div>
<h1>Your ThoughtWorks Go Server is ready!</h1>
<div class="block-info">
  <h3>IP: <%= my_public_ip %></h3>
  <h3>PORT: <%= @user.memcached %></h3>
</div>

<%= render 'ip' %>
